.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;

    label {
        margin-bottom: 5px;
    }

    &__name,
    &__email,
    &__message,
    &__button {
        padding: 7px 0px 7px 5px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    &__message {
        min-height: 300px;
    }
    &__button {
        max-width: 100px;
        font-weight: 700;
    }
}
