.page {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    &__video {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--player {
            padding-top: 56.25%;
            position: relative;
        }
        &--player > div {
            top: 0;
            position: absolute;
        }
    }
    &__info {
        margin-top: 50px;
        h2 {
            text-align: center;
        }
        &--desc {
            margin-bottom: 40px;
        }
        margin-bottom: 50px;
        &--details {
            margin-bottom: 40px;
            p {
                margin: 0px 0px 5px 25px;
            }
        }
        &--team {
            ul {
                padding: 0;
                margin-left: 25px;
                li {
                    list-style: none;
                    margin-bottom: 5px;
                }
            }
        }
    }
    &__learn {
        h2 {
            margin: 0;
            text-align: center;
        }
        &--skills {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 50px;
            li {
                font-size: 17px;
            }
        }
    }
    &__game,
    &__site {
        margin-top: 50px;
        text-align: center;
        h2 {
            margin: 0;
            margin-bottom: 25px;
        }
        a {
            color: white;
        }
    }
}
