.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    a {
        text-decoration: none;
        color: white;
    }

    &__name {
        &--title {
            h1 {
                font-size: 44px;
                margin: 0;
            }
        }
        &--subtitle {
            font-size: 22px;
            margin: 0;
        }
    }

    &__cv {
        a {
            box-sizing: border-box;
            padding: 10px 20px 10px 20px;
            border: 3px solid #b3b3b3;
            font-size: 18px;
            transition: background-color 200ms ease-in-out,
                color 200ms ease-in-out;

            &:hover {
                background-color: #d6d6d6;
                color: #525252;
            }
        }
    }
}
